*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #0e1320;
    color: #fff;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}
.logo{
    font-size: 22px;
    font-weight: bold;
}
nav a{
    color: #ccc;
    margin-left: 25px;
    text-decoration: none;
}
nav a.active,
nav a:hover{
    color: #00ffcc;
}
.hero{
    text-align: center;
    padding: 80px 20px;
}
.hero h1{
    font-size: 48px;
    margin-bottom: 15px;
}
.hero p{
    max-width: 700px;
    margin: auto;
    color: #aaa;
}
.info{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 50px 20px;
}
.box{
    text-align: center;
}
.box h3{
    color: #00ffcc;
    margin-bottom: 10px;
}
.form-section{
    padding: 40px 20px;
}
form{
    max-width: 800px;
    margin: auto;
}
.row{
    display: flex;
    gap: 20p;
}
input, textarea{
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    color: #fff;
}
textarea{
    height: 120px;
    resize: none;
}
button{
    padding: 12px 30px;
    background-color: #00ffcc;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

