* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0e0e0e;
  color: #fff;
  font-family: Arial, sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
}
.logo {
  font-size: 24px;
  font-weight: bold;
}
nav a {
  margin-left: 25px;
  text-decoration: none;
  color: #aaa;
}
nav a.active,
nav a:hover {
  color: #1abc9c;
}
.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 60px;
}

.hero p {
  max-width: 700px;
  margin: 20px auto;
  color: #bbb;
}

.hero button {
  padding: 12px 30px;
  background: #1abc9c;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
.breadcrumb {
  background: #1a1a1a;
  padding: 15px 80px;
  color: #aaa;
}

.breadcrumb .active {
  color: #1abc9c;
}
.gallery {
  padding: 60px 80px;
}
.gallery-grid {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}
.img-box {
  width: 30%;
  height: 200px;
  background: #222;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
  font-size: 18px;
}

.img-box img{
  width: 100%;
}
footer {
  text-align: center;
  padding: 40px 0;
  color: #aaa;
}

.designer {
  margin-top: 10px;
  font-size: 14px;
}

.img-fluid{
  width: 33%;
  height: 100%;
  object-fit: cover;  
}
